.header {
  background: $dark-blue;
}

.nav-bar-container {
  background: $med-brown;
  display: flex;
  justify-content: space-between;
}

.nav-bar-link {
  display: flex;
  justify-content: space-between;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}