// Colors
$dark-grey: #333333;
$grey: #666;
$money-green: #2FA166;
$off-white: #f7f7f7;

/*
Color scheme: 
https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7764705882352941,0.5092438369522664,0,1,0.7680188331359842,0.3259411633394632,1,0.6558443354688279,0,0,0.2973202459215827,0.7,0,0.42474320845940383,1&swatchOrder=0,1,2,3,4
*/
$dark-brown: #C68200;
$med-brown: #FFA700;
$light-brown: #FFC453;
$dark-blue: #004CB2;
$light-blue: #006CFF;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
